html
    head
        title Mson Template Generator

        link(rel="stylesheet", href="index.scss")

    body
        h1 Mson template generator

        h2 Load file ...
        input#json-input-file(type="file", accept="application/json")

        h2 ... or paste JSON
        textarea#json-input-text(spellcheck="false")

        pre#json-parse-error
        pre#json-parse-output

        script(src="scripts/index.ts")
